@model Category 

<h1>Delete Category</h1>

<div class="border col-md-10">
    <form asp-action="Delete">

        <input type="hidden" asp-for="CategoryId" />

        <div class="form-group m-4">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <div class="form-group m-4">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" disabled class="form-control" />
        </div>

        <div class="form-group m-4">

            <input type="submit" value="Delete Category" class="form-control btn btn-danger" />
        </div>

    </form>

</div>
